* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vh;
  min-height: 100vh;
  background-color: #ebf6ff;
  background-image: url("./img/pexels-andres-ayrton-6550832.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.div-container {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: transparent;
  min-width: 14vh;
  min-height: 29vh;
  padding: 2rem;
  box-shadow: 5px 5px 15px black;
  font-weight: bold;
}

.h-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.all-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  font-weight: bold;
}

::placeholder {
  font-weight: bold;
}
textarea {
  font-weight: bold;
}
